* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    transition: all .2s;
	font-family: 'Open Sans';
}

body {
	width: 100vw;
	background-color: $white;
}

fieldset {
	border: none;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.main-content {
	width: 835px;
	max-width: 100%;
	margin-top: 30px;
}

.underlined {
	text-decoration: line-through;
}

.pink {
	color: #ce2c52 !important;
}

.tablet-only {
	display: none;
}

@media only screen and (max-width: 900px) {
	.main-content {
		width: 640px;
	}

	.tablet-only {
		display: flex;
	}
}