@media only screen and (max-width: 900px) {
    .lower {
        align-items: center;

        .title {
            margin-bottom: 30px;
        }

        .card {
            width: 300px;
            max-width: 300px;

            .img-wrap {
                max-height: 280px;
            }

            .price-wrap, .with-discount {
                width: 100%;
            }
    
            .price-wrap {
                bottom: 0;
                justify-content: center;
                height: 30px;
                background: rgba(138, 230, 207, 0.8);
            }
    
            .price {
                font-size: 22px;
            }
    
            .price.underlined {
                display: none;
            }
        }
    }
}