@media only screen and (max-width: 600px) {
    .lower {
        overflow: hidden;
        .cards-array {
            flex-direction: column;
            align-items: center;

            .card {

                .img-wrap {
                    width: 280px;
                    height: 265px;
                }

                .price {
                    font-size: 18px;
                }
            }
        }
    }
}