.lower {
    width: 100%;

    .title {
        font-size: 22px;
        letter-spacing: 2px;
        color: $black;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .cards-array {
        width: 100%;
        flex-wrap: wrap;
    }

    .card {
        width: 265px;
        max-width: 265px;
        display: flex;
        align-items: center;
        flex-direction: column;
         padding-bottom: 25px;

        .img-wrap {
            width: 100%;
            position: relative;
        }

        .price-wrap {
            position: absolute;
            right: 0;
            bottom: 20px;
            background: rgba(138, 230, 207, 1);
            height: 26px;
            min-width: 70px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .with-discount {
            width: 146px;
        }

        .price {
            font-size: 20px;
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
        }

        .label {
            font-size: 14px;
            letter-spacing: 1px;
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .card:hover {
        img {
            box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
        }
    }
}