@media only screen and (max-width: 900px) {
    .upper {
        margin-bottom: 60px;
        column-gap: 15px;
        row-gap: 15px;
        grid-template-columns: 330px auto;
        grid-template-areas: "name ."
                            "photo info";

        .photo-wrap {
            width: 330px;
            position: relative;

            .social {
                position: absolute;
                top: 0;
                left: 0;
                padding-left: 18px;
                padding-top: 10px;

                .img-wrap {
                    min-width: 40px;
                    max-width: 40px;
                    min-height: 40px;
                    max-height: 40px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }

        .product-info {

            .item-id {
                font-size: 11px;
                margin-bottom: 10px;
                margin-top: 0px;
            }

            .price:nth-child(1) {
                margin-right: 25px;
            }

            .price-wrap {
                margin-bottom: 13px;
            }

            .price {
                font-size: 36px;
            }

            .star-wrap {
                margin-bottom: 20px;
            }

            .share-button {
                display: none;
            }

            .description {
                margin-top: 10px;
            }

            .submit-button {
                font-size: 18px;
            }
        }
    }
}