.upper {
    width: 100%;
    display: grid;
    grid-template-areas: "photo name"
                          "photo info";
    grid-template-rows: 35px auto;
    grid-template-columns: 400px auto;
    column-gap: 60px;

    .photo-wrap {
        width: 400px;
        grid-area: photo;
    }

    .product-name {
        grid-area: name;
        font-family: 'Oswald';
        text-transform: uppercase;
        font-size: 24px;
        color: $black;
        letter-spacing: 1px;
    }

    .product-info {
        grid-area: info;

        .item-id {
            font-size: 10px;
            color: $black;
            margin-bottom: 24px;
            margin-top: 10px;
            letter-spacing: 1px;
        }

        .price-wrap {
            margin-bottom: 24px;
        }

        .price:nth-child(1) {
            margin-right: 20px;
        }

        .price {
            font-size: 24px;
            font-weight: 700;
        }

        .rate {
            margin-right: 18px;
        }

        .star-wrap {
            width: 18px;
            margin: 1px;
        }

        .share-button {
            font-size: 18px;
            color: $blue;
            font-weight: 700;
            letter-spacing: 1.5px;
            cursor: pointer;
            position: relative;
        }

        .share-content {
            position: absolute;
            min-width: 287px;
            min-height: 80px;
            background-color: #fff;
            filter: drop-shadow(0 0 3px rgba(0,0,0,0.75));
            top: 35px;
            left: -105px;
            //invisivble
            opacity: 0;
            z-index: -1;
            transition: 0.5s;

            .img-wrap {
                min-width: 39.9px;
                min-height: 39.9px;
                max-width: 39.9px;
                max-height: 39.9px;
                margin-right: 15px;
            }

            .js-close {
                min-width: 30px;
                min-height: 30px;
                max-width: 30px;
                max-height: 30px;
            }

            &:before {
                background: inherit;
                position: absolute;
                display: block;
                content: '';
                width: 15px;
                height: 15px;
                transform: rotate(45deg);
                top: -7.5px;
                right: calc(50% - 7.5px);
            }
        }

        .description {
            margin-top: 15px;
            font-weight: 300;
            color: $black;
            font-size: 12px;
        }

        .sign {
            font-size: 14px;
            color: $black;
            text-transform: uppercase;
            font-weight: 700;
            min-width: 70px;
        }

        .size-fieldset {
            margin-top: 15px;
            margin-bottom: 10px;
        }

        .color-fieldset {
            margin-bottom: 10px;
        }

        .r-hidden, .c-hidden {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .size, .color {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            min-width: 40px;
            min-height: 40px;
            background-color: #fff;
            border: 1px solid #cbcbcb;
            margin-right: 10px;
        }

        .color { border: none; }

        #c-b { background-color: #77D8E7; }
        #c-g { background-color: #96C795; }
        #c-r { background-color: #CE92A1; }
        #c-v { background-color: #AA93CF; }

        .r-hidden:checked + .size, .c-hidden:checked + .color {
            filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
        }

        .submit-button {
            border: none;
            border-radius: 22px;
            min-width: 220px;
            width: 220px;
            min-height: 44px;
            background-color: #8AE6CF;
            color: $black;
            text-transform: uppercase;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            letter-spacing: 1px;
        }

    }
}