// segments
// check src/framework/scss/global-scaler.scss if you are not fullhd
@charset "UTF-8";

@import "./modifiers.scss";
@import "./_colors.scss";
@import "./segments/general.scss";
@import "./segments/upper.scss";
@import "./segments/lower.scss";
@import "./segments/upper-tablet.scss";
@import "./segments/lower-tablet.scss";